<div class="container">
  <h1>CODI Core Values</h1>
  <div class="row justify-content-md-evenly mt-4 mb-4">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="img-container"><img src="assets/images/icon1.png" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title">Passion</h5>
          <p class="card-text">We have a strong will to succeed – an intense but graceful competitiveness</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="img-container"><img src="assets/images/icon2.png" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title">Integrity</h5>
          <p class="card-text">We will always choose the right way over the easy way</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="img-container"><img src="assets/images/icon3.png" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title">Collaboration</h5>
          <p class="card-text">We measure success as a team</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="img-container"><img src="assets/images/icon4.png" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title">Accountability</h5>
          <p class="card-text">We deliver against our commitments and take intiative each step of the way</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="img-container"><img src="assets/images/icon5.png" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title">Humility</h5>
          <p class="card-text">We don’t have all the answers and we rely on strong, world-class, managers through the CODI Family</p>
        </div>
      </div>
    </div>
  </div>
</div>