<div class="container">
  <div id="contentBlock" class="row">
    <div class="col-md-4">
      <h2>Our mission is to create enduring value by:</h2>
    </div>
    <div class="col-md-8">
      <ul>
        <li>Partnering with middle-market businesses with superior long-term prospects</li>
        <li>Backing world-class management teams as they accelerate marketplace success</li>
        <li>Managing financial risk in a responsible way</li>
        <li>Cultivating an environment where people can achieve their potential</li>
      </ul>
    </div>
  </div>
</div>